@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.intro-bg {
  background-image: url('/intro-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-teal {
  background: linear-gradient(139deg, #00879b 4.96%, #5de8d7 100.3%);
}
.bg-teal-bold {
  background: linear-gradient(
    116deg,
    #004968 16.73%,
    #1a8d99 60.14%,
    #34d2cc 83.71%
  );
}

.text-stroke {
  -webkit-text-stroke: 1px #30c2bc;
}